<!DOCTYPE html>
<html>
  <head>
    <title>Fake Instagram</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header>
      <div class="container header">
        <div id="logo">
          <img src="/img/logo.png">
        </div>
        <div class="busca">
          <form>
            <input type="search" class="search" placeholder="buscar usuarios">
          </form>
        </div>
        <nav>
          <a href="http://">
            <img src="/img/icons/home.svg">
          </a>
          <a href="">
            <div class="avatar-content">
              <img class="avatar" src="/img/avatar-example.png">
              <b><%= locals.user.name %></b>
            </div>
          </a>
        </nav>
      </div>
    </header>
    <main class="container content">

      <% for(let i=0;i<publications.length ; i++ ) { %>

      <div class="card">
        <div class="card-header">
          <div>
            <img class="avatar" src="/img/avatar-example.png">
            <b><%= publications[i].user.name %></b>
          </div>
            <img src="">
        </div>
        <div class="card-img">
          <img src="<%= publications[i].image %>">
        </div>
        <div class="card-body">
          <div class="card-itens">
            <div class="likes">
              <img src="/img/icons/heart.svg">
              <b><%= publications[i].like %> likes</b>
            </div>
            <b>Postado no dia: <%= moment(publications[i].create_at).format('DD/MM/YYYY') %> </b>
          </div>
          <div class="card-comments">
            <%for(let j = 0;j<publications[i].comments.length; j++) { %>

            <p><b>user_undefined</b> <%= publications[i].comments[j].description %></p>

            <%}%>
          </div>
         
        </div>
        <form class="form-comments" action="/comment/<%= publications[i].id %>/create" method="POST">
          <input type="text" name='message' placeholder="Adicione um comentário...">
          <button>Publicar</button>
        </form>
      </div>

      <% } %>
      </div>
    </main>
  </body>
</html>
